.input-group-addon
    i.icon-search
input.g-filter-field.form-control.input-sm(type="text", placeholder="#{placeholder}")
.input-group-addon.clickable.add-project
    i.icon-plus(data-toggle="tooltip",data-placement="left",title="Create a project")
.input-group-addon.clickable.remove-project
    i.icon-cancel(data-toggle="tooltip",data-placement="left",title="Delete a project")
