.container-fluid
    .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.padding
            .g-frontpage-body
                b Project Data
                p List of ESB available for the project

        .col-xs-12.col-sm-12.col-md-6.col-lg-6.padding
            .g-frontpage-body
                b Project Clusters
                p List of cluster configuration that can be used for the project
                ul
                    li Start cluster
                    li Run simulation
                    li Run post-processing
                    li Generate report

    .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.padding
            .g-frontpage-body
                b ToDo List
                ul
                    li Start cluster
                    li Run simulation
                    li Run post-processing
                    li Generate report

        .col-xs-12.col-sm-12.col-md-6.col-lg-6.padding
            .g-frontpage-body
                b Cost report
                p Project associated cost




